.Preview {
  $size: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $size;
  text-align: center;
  list-style: none;
  overflow: hidden;
  margin: 8px;
  border-radius: 25px;

  &:hover {
    cursor: pointer;

    img {
      height: 105%;
      transition: width 1s, height 1s;
      transition-timing-function: linear;
    }
  }

  img,
  iframe {
    flex: 1 0 auto;
    height: $size;
    transition: width 1s, height 1s;
    transition-timing-function: linear;
  }
}
