.pictureOfTheDay {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 0.8vw;
    /*background-color: #333;*/
}

.pictureOfTheDay .image {
    text-align: center;
    width: 30vw;
    box-sizing: border-box;
}

.pictureOfTheDay img {
    width: 30vw;
    border: 5px solid #666d;
}

.pictureOfTheDay .description {
    box-sizing: border-box;
    padding: 0 0 0 3vw;
    width: 60vw;
}

.pictureOfTheDay .description h2 {
    margin-top: 0;
    font-size: 2.2rem;
}

.pictureOfTheDay .description p {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.pictureOfTheDay .description p.download {
    text-align: right;
    margin: 0;
}


@media screen and (min-width: 1330px) {
    .pictureOfTheDay .image,
    .pictureOfTheDay img {
        width: 300px;
    }

    .pictureOfTheDay .description {
        padding: 0 0 0 40px;
        width: 900px;
    }
}

@media screen and (max-width: 740px) {
    .pictureOfTheDay .image {
        padding-top: 3vw;
    }

    .pictureOfTheDay .image,
    .pictureOfTheDay img {
        width: 70vw;
        border: none;
    }

    .pictureOfTheDay .description {
        padding: 0 4vw;
        width: 100vw;
        background: linear-gradient(0, rgba(51,51,51,0.9) 0%, rgba(51,51,51,0.1) 100%);
    }
}

@media screen and (max-width: 350px) {
    .pictureOfTheDay .image,
    .pictureOfTheDay img {
        width: 90vw;
        border: none;
    }
}