.PictureOfTheDay {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1.5vw;
  background-color: #000000dd;

  .image {
    text-align: center;
    width: 30vw;
    box-sizing: border-box;
  }

  img {
    width: 30vw;
    border: 5px solid peru;
    border-radius: 35px;
  }

  .description {
    box-sizing: border-box;
    padding: 0 0 0 3vw;
    width: 60vw;

    h2 {
      margin-top: 0;
      font-size: 2.2rem;
    }

    p {
      margin-bottom: 0;
      font-size: 1.8rem;
      line-height: 2.8rem;

      &.download {
        padding-top: 15px;
        text-align: right;
        margin: 0;
      }
    }
  }
}

@media (min-width: 1330px) {
  .PictureOfTheDay {
    .image,
    img {
      width: 300px;
    }

    .description {
      padding: 0 0 0 40px;
      width: 900px;
    }
  }
}

@media (max-width: 740px) {
  .PictureOfTheDay {
    .image {
      padding-top: 3vw;
    }

    .image,
    img {
      width: 70vw;
      border: none;
    }

    .description {
      padding: 0 4vw;
      width: 100vw;
      background: linear-gradient(
        0,
        rgba(51, 51, 51, 0.9) 0%,
        rgba(51, 51, 51, 0.1) 100%
      );
    }
  }
}

@media (max-width: 350px) {
  .PictureOfTheDay {
    .image,
    img {
      width: 90vw;
      border: none;
    }
  }
}
