.marsWeather {
    margin: 0;
    padding: 10px;
}

.marsWeather h2 {
    text-align: center;
    color: peru;
}

.marsWeather ul.latestWeather {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.marsWeather ul.latestWeather li {
    list-style: none;
    background-color: #333333dd;
    background: linear-gradient(0, rgba(51,51,51,0.8) 0%, rgba(51,51,51,0.1) 100%);
    padding: 0.5vw 1.2vw 0.5vw;
    margin: 0.3vw;
}