.Gallery {

}

.Gallery h2 {
    text-align: center;
}

.Gallery h3 {
    text-align: center;
    font-size: 2rem;
}

.Gallery .GalleryContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}