.GalleryPage {
  margin: 0;
  h2,
  h3 {
    text-align: center;
  }

  h3 {
    font-size: 2rem;
  }

  .content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 15px;
  }
}

.filter {
  display: flex;
  justify-content: center;
  padding: 2.5vw 0 1vw 0;

  .galleryFilterSelect {
    margin: 0 10px;
    font-size: medium;
    color: #4682b4;

    div {
      margin: 0;
    }
  }
}
