.Gallery {

}

.Gallery h2 {
    text-align: center;
}

.Gallery h3 {
    text-align: center;
    font-size: 2rem;
}

.Gallery .GalleryContent {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.galleryFilter {
    display: flex;
    justify-content: center;
}

.galleryFilter .galleryFilterSelect {
    margin: 0 10px;
    font-size: medium;
    color: #4682b4;
}

.galleryFilter .galleryFilterSelect div {
    margin: 0;
}