$mainMenuColor: #6893b7;
$mainMenuBgColor: #33333388;

li.MenuItem {
  list-style: none;
  transform: translateY(-65px);
  opacity: 0;
  transition: transform 1s, opacity 1s;

  &.rendered {
    transform: translateY(0);
    opacity: 1;
  }

  a {
    margin: 0.5vw;
    padding: 1.3vw 2vw 1vw;
    text-decoration: none;
    color: $mainMenuColor;
    font-size: 1.8rem;
    border: none;
    border-radius: 15px;
    background-color: $mainMenuBgColor;
    transition: all 0.5s ease-in;

    &:hover {
      padding: 1.6vw 2.6vw 1.3vw;
      color: $mainMenuColor;
      background-color: $mainMenuBgColor;
      transition: all 0.1s ease-in;
    }

    span {
      text-decoration: none;
      color: $mainMenuColor;
      font-size: 2.2rem;
    }
  }
}
