.marsWeatherDay {

}

.marsWeatherDay p {
    margin: 0.8vw 0;
    font-size: 1.4rem;
}

.marsWeatherDay .solDate {
    font-weight: bold;
    font-size: 1.8rem;
    margin: 1vw 0;
    text-align: center;
}

.marsWeatherDay .date {
    font-weight: bold;
    font-size: 1.3rem;
    padding: 0 0 1vw 0;
    margin-bottom: 1.1vw;
    border-bottom: 1px solid peru;
    text-align: center;
}

.marsWeatherDay .airT,
.marsWeatherDay .wind,
.marsWeatherDay .pressure {
    display: flex;
    justify-content: space-between;
}

.marsWeatherDay p .label {
    flex-grow: 3;
    text-align: right;
}

.marsWeatherDay p .value {
    flex-grow: 2;
    text-align: right;
}

.marsWeatherDay p .unit {
    font-weight: bold;
    flex-grow: 1;
    text-align: left;
}