.TopMenu {
  padding: 1vw;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .selected {
    border: 1px solid #555;
  }
}
