li.galleryPreview {
    width: 235px;
    height: 235px;
    text-align: center;
    margin: 8px;
    list-style: none;
    overflow: hidden;
    border: 8px solid whitesmoke;
    transition: width 0.5s, height 0.5s, margin 0.5s;
}

li.galleryPreview:hover {
    width: 245px;
    height: 245px;
    margin: 3px;
    transition: width 0.1s, height 0.1s, margin 0.1s;
    cursor: pointer;
}

li.galleryPreview img {
    height: 235px;
    min-width: 235px;
}

