html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 10px;
}

body {
  font-family: "Trebuchet MS", Verdana, sans-serif;;
  color: antiquewhite;
}

div {
  margin: 0;
  padding: 0;
}

div, p, li, ul {
  box-sizing: border-box;
}

a {
  color: steelblue;
  font-size: 1.4rem;
  text-decoration: none;
  border-bottom: 1px solid peru;
}

a:hover {
  border-bottom: 1px solid steelblue;
}

#root {
  display: flex;
  justify-content: center;
  background: black url('media/JupiterClouds_JunoGill_960.jpg') center bottom no-repeat;
  min-height: 100%;
}

h2 {
  font-size: 2.6rem;
}

